*.vsidx
*.dll
*.exe
/WindowsFormsApp2/obj/Debug/MCKDS.pdb
/WindowsFormsApp2/bin/Debug/MCKDS.application
/packages/MetroModernUI.1.4.0.0/.signature.p7s
/WindowsFormsApp2/bin/Debug/MCKDS.exe.manifest
/WindowsFormsApp2/bin/Debug/MCKDS.pdb
/WindowsFormsApp2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WindowsFormsApp2/obj/Debug/MCKDS.csproj.AssemblyReference.cache
/.vs/KFC_KDS_FRONT_APP/v17/.wsuo
/WindowsFormsApp2/obj/Debug/MCKDS.csproj.CoreCompileInputs.cache
/WindowsFormsApp2/obj/Debug/MCKDS.csproj.FileListAbsolute.txt
/WindowsFormsApp2/obj/Debug/MCKDS.csproj.GenerateResource.cache
/WindowsFormsApp2/obj/Debug/MCKDS.csproj.Up2Date
/WindowsFormsApp2/obj/Debug/MCKDS.exe.manifest
*.json
/.vs/KFC_KDS_FRONT_APP/v17/DocumentLayout.json
/WindowsFormsApp2/obj/Debug/MCKDS.application
*.suo
/WindowsFormsApp2/bin/Debug/MCKDS.exe.config
/WindowsFormsApp2/obj/Debug/MCKDS.TrustInfo.xml
/.vs/TestKDS/v17/.wsuo
/packages/MetroModernUI.1.4.0.0/MetroModernUI.1.4.0.0.nupkg
/WindowsFormsApp2/obj/Debug/build.force
/WindowsFormsApp2/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/.vs/VSWorkspaceState.json
